.user-list {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.user-list li{
    display: flex;
    width: 100%;
    border: 2px solid rgb(0, 255, 4);
    justify-content: space-between;
    padding: 5px;
    border: 2px solid black;
    border-radius: 15px;
}

.user-list li button{
   border: none;
   background-color: transparent;
   cursor: pointer;
}